

<div class="d-flex container   justify-content-end  flex-column mt-5">

<div class="score  bg-info border-custom ">
    <div class=" header d-flex felx-wrap p-3"  >
        
        <div class="title ">
            <h4 class="fw-bold text-white">PIEDRA</h4>
            <h4  class="fw-bold text-white">PAPEL</h4>
            <h4  class="fw-bold text-white">TIJERAS</h4>
        </div>
        <div class=" row gap-4 justify-content-center mx-2 w-100">
            <div class="header_item text-center bg-success p-3  border-custom-white  col-2">
                <h6 class="fw-bold text-white">Vidas</h6>
                <h5 class="text-white">{{vidas}}</h5>
            </div>
            <div class="header_item text-center bg-dark  p-3 border-custom-white  col-2 ">
                <h6 class="fw-bold text-white">Score</h6>
                <h5 class="text-white">{{score}}</h5>
            </div>
            <div class="header_item text-center bg-dark pt-3  px-2 border-custom-white  col-2">
                <h6 class="fw-bold text-white ">Max Score</h6>
                <h6 class="text-white">{{setLocalPlayer()}}</h6>
                <h6 class="text-white">{{setLocalScore()}}</h6>
            </div>
        </div>
    </div>
</div>
<div class="opcion p-5 mt-5 border-custom bg-dark">
    <div class=" jugador-container  row">
        <div class="text-center jugador col-4">
            <h5 class="text-white text-center">{{playerSelection??"player"}}</h5>
                <div *ngIf= "userSelection == 'none'">   
                    <div class="card-custom text-white disabled  my-4 float-center"><i class="fa fa-question icon-size-6r mt-5"></i></div>
                 </div>
            <div *ngIf= "userSelection == 0" class="mx-auto">   
                <div class="card-custom text-white disabled  my-4"><i class="fa fa-hand-rock-o icon-size-6r mt-5"></i></div>
             </div>
            <div *ngIf= "userSelection == 1" class="mx-auto">
                <div class="card-custom text-white disabled my-4 "><i class="fa fa-hand-paper-o icon-size-6r  mt-5"></i></div>
             </div>
             <div *ngIf= "userSelection == 2" class="mx-auto">
                    <div class="card-custom text-white disabled my-4 "><i class="fa fa-hand-scissors-o icon-size-6r mt-5"></i></div>
             </div> 
        </div>
        <h1 class="text-center col-4 finaly-title" style="margin-top: 7rem ;">
            <div class="text-dark text-midle  display-5 badge bg-light" >{{resultado}}</div>
        </h1>
        <div class="text-center jugador col-4">
            <h5 class="text-white text-center">{{IA}}</h5>
            <div *ngIf= "iaSelection == 'none'">   
                    <div class="card-custom text-white disabled  my-4"><i class="fa fa-question icon-size-6r mt-5 "></i></div>
             </div>
            <div *ngIf= "iaSelection == 0" >   
                <div class="card-custom text-white disabled  my-4"><i class="fa fa-hand-rock-o icon-size-6r  mt-5"></i></div>
             </div>
            <div *ngIf= "iaSelection == 1">
                 <div class="card-custom text-white disabled my-4 "><i class="fa fa-hand-paper-o icon-size-6r mt-5"></i></div>
             </div>
             <div *ngIf= "iaSelection == 2">
                 <div class="card-custom text-white disabled my-4 "><i class="fa fa-hand-scissors-o icon-size-6r mt-5"></i></div>
             </div> 
        </div>
    </div>
    <div class=" row justify-content-center p-4">
        <div class="mb-3 col text-center">
            <button class="btn btn-primary text-white" (click)="op(0)"><i class="fa fa-hand-rock-o icon-size-6r mt-1"></i></button>
        </div>
        <div class="mb-3 col text-center">
            <button class="btn btn-primary text-white" (click)="op(1)"><i class="fa fa-hand-paper-o icon-size-6r mt-1"></i></button>
        </div>
       
        <div class="mb-3 col text-center">
                <button class="btn btn-primary text-white" (click)="op(2)"><i class="fa fa-hand-scissors-o icon-size-6r mt-1" ></i></button>
        </div>
    </div>
</div>


